<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue 2</title>
  </head>
  <body>
    <div id="app">
      <input type="checkbox" id="jack" value="Jack" v-model="checkedName">
      <label for="jack">Jack</label>
      <input type="checkbox" id="john" value="John" v-model="checkedName">
      <label for="john">John</label>
      <input type="checkbox" id="mike" value="Mike" v-model="checkedName">
      <label for="mike">Mike</label>
      <input type="checkbox" id="mary" value="Mary" v-model="checkedName">
      <label for="mary">Mary</label>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
      const vm = new Vue({
        data() {
          return {
            checkedName: []
          }
        }
      }).$mount('#app');
    </script>
  </body>
</html>
